@font-face {
  font-family: 'SF-pro';
  src: url(/fonts/SF-Pro/SF-Pro.ttf);
}

@font-face {
  font-family: 'Soehne';
  src: url(/fonts/soehne/test-soehne-buch.woff2);
  font-weight: 400;
}

@font-face {
  font-family: 'Soehne';
  src: url(/fonts/soehne/test-soehne-dreiviertelfett.woff2);
  font-weight: 700;
}

@font-face {
  font-family: 'Soehne';
  src: url(/fonts/soehne/test-soehne-kraftig.woff2);
  font-weight: 500;
}
